<section class='contact-details'>
    <p class="close">X</p>
    <p class="contact-intro">If you want to talk to me or have any questions, you are very welcome to contact me on any of these channels.</p>

    <p class='email'>Email: leforawilliams@protonmail.com</p>

    <a target='_blank' href="https://github.com/LeforaWilliams">
        <img class='icon' src="assets/github.png" alt="Github icon with with a hyperlink to my github profile.">
    </a>

    <a target='_blank' href="https://twitter.com/lefxwill">
        <img class='icon bird' src='assets/twitter.png' alt="Twitter icon with a hyperlink to my twitter profile." />
    </a>

</section>
