<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Lefora Williams</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1 id='name'> <a href='/'>Lefora Williams</a></h1>
        <p id='contact'>Contact</p>
            {{{body}}}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src=/navhover.js type="text/javascript"></script>

    </body>
</html>
