<!doctype html>

<section class='main-home-content'>
    <div class='stack hidden '>
        {{> stack}}
    </div>
    <img class='me hidden' src="/assets/me.JPG" alt="Picture of me, Lefora">
    <h2 id='tag'>Hi! <span class='me pointer'>I'm</span> a <span id='full' class='pointer'>FullStack JavaScript</span> Developer based in <span class='places-lived pointer'>Berlin.</span></h2>

    <div class='places-lived hidden'>
        <p>Born and raised in Berlin. Lived in Scotland and Canada.</p>
    </div>
</section>

<div class="projects-nav">
    {{> nav}}
</div>
